.section {
    margin: 10px 0;
    background-color: white;
    box-shadow: 5px 5px 12px 0px #D0CCD1;
    font-family: 'Lato', sans-serif;
}

.section__title {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 0px;
}

.section__header{
    background-color: rgb(236, 235, 235);
}

.section__body {
    margin: 10px;
    padding: 20px;
}

