.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px; 
}

@media (max-witdh: 767px) {
    .form {
        grid-template-columns: 1fr; 
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

.form__button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    transition: background 1s, transform 2s linear;
}

.form__button:hover {
    transform: scale(1.2);
    background-color: rgb(6, 197, 197);
}

.section__body {
    padding: 20px;
}