.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__content {
    border-bottom: none;
    list-style: none;
    margin: auto;
}

.tasks__content--done {
    text-decoration-line: line-through;
}

.tasks__item {
    list-style: none;
    border-bottom: none;
    list-style: none;
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.tasks__item--hidden {
    display: none;
}

.task__button {
    max-width: 30px;
    max-height: 30px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 15px;
    padding: 20px;
    margin: 10px auto;
    border: none;
}

.task__buttonToggleDone {
    background-color: rgb(1, 107, 1);
    transition: 1s;
}

.task__buttonToggleDone:hover {
    background-color: rgb(1, 196, 1);
}

.task__binButton {
    background-color: rgb(202, 4, 4);
    transition: 1s;
}

.task__binButton:hover {
    background-color: rgb(247, 36, 36);
}

@media (max-width: 767px) {
    .task__buttonToggleDone {
        width: 50%;
    }

    .task__buttonToggleNotDone {
        width: 50%;
    }

    .task__binButton {
        width: 50%;
    }
}